{% extends 'base/base.html' %}
{% load i18n %}
{% load humanize %}


{% block content %}
    <!-- Section-->
    <!-- display of products-->
    <section class="py-3">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-start">
                {% for product in category.products.all %}
                    <div class="col mb-5">
                        <div class="card h-100 text-light" style="border-radius: 10px">
                            <!-- Product images-->
                            <div id="{{ product.name }}" class="carousel slide " data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active p-5">
                                        <img src="{{ product.images.first.image.url }}" class="d-block w-100" alt="...">
                                    </div>
                                    {% for product_image in product.images.all %}
                                        <div class="carousel-item p-5">
                                            <img src="{{ product_image.image.url }}" class="d-block w-100" alt="...">
                                        </div>
                                    {% endfor %}
                                </div>

                            </div>
                            {#                        <img class="card-img-top" src="{{ product.image.urls }}" alt="..."/>#}
                            <!-- Product details-->
                            <div class="card-body bg-dark ">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ product.name }}</h5>



                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-dark d-flex justify-content-center text-warning" style="border-bottom-left-radius: 10px; border-bottom-right-radius:10px; ">
                               <a href="{% url 'products:product_detail' product.id %}"  class="stretched-link"></a>
                                <!-- Product price-->
                                {{ product.price|floatformat|intcomma }} <span class="text-danger ml-2">{% translate 'Rial' %}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>
{% endblock %}