{% extends 'base/base.html' %}
{% load i18n %}



{% block content %}
    <!-- Section-->
    <!-- display of products-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div id="block_image"
                 class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <!--  Products are located here-->
            </div>
            <nav id="results" aria-label="Page navigation example">
                <ul class="pagination">
                    <!-- button of pagination-->
                </ul>
            </nav>
        </div>

    </section>

{% endblock %}