{% extends 'base/base.html' %}
{% load i18n %}
{% load static %}
{% load widget_tweaks %}
{% block title %}{% translate 'Profile' %}{% endblock %}

{% block style.css %}
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{% static 'auth/css/profile.css' %}">
    <!--===============================================================================================-->
{% endblock %}
{% block drop-drown %}{% endblock %}
{% block content %}

    <div class=" emp-profile bg-dark text-light pt-3" style="margin-top: 4%; border-radius: 10px">
        <div class="row">
            <div class="col-3"><a type="submit" href="{% url 'customer:edit_profile' %}"
                                  style="margin: 2px;font-size: revert;"
                                  class="btn btn-outline-light w-75 ml-4 ">{% translate 'Edit Profile' %}</a></div>
            <div class="col-3"><a type="submit" href="{% url 'orders:recent-orders' %}"
                                  style="margin: 2px;font-size: revert;"
                                  class="btn btn-outline-light w-75 ml-4">{% translate 'Recent orders' %}</a></div>
            <div class="col-3"><a type="submit" href="{% url 'orders:orders-history' %}"
                                  style="margin: 2px;font-size: revert;"
                                  class="btn btn-outline-light w-75 ml-4 ">{% translate 'Order history' %}</a></div>
            <div class="col-3"><a type="submit" href="{% url 'customer:change_password' %}"
                                  style="margin: 2px;font-size: revert;"
                                  class="btn btn-outline-light w-75 ml-4 ">{% translate 'Change password' %}</a>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3">
            <div class="col-md-4">
                <div class="profile-img ">
                    {% if user.image %}
                        <img class="rounded-circle"
                             src="{{ user.image.url }}"
                             alt=""/>
                    {% else %}
                        <img class="rounded-circle"
                             src="/media/avatar.jpg/"
                             alt=""/>
                    {% endif %}

                </div>
            </div>

            <div class="row d-flex justify-content-center" style="color: gold">
                <div class="col-4 mt-3" style="text-align: center">
                    <h4>
                        {{ user.username }}
                    </h4>
                    <h6>
                    </h6>
                    <span class="proile-rating"
                          style="color: gold;font-size: medium">{% translate 'Last login' %} : </span>
                    <span>{{ user.last_login }}</span>
                </div>
            </div>
            <div class="row">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active text-danger" id="home-tab" data-toggle="tab" href="#home" role="tab"
                           aria-controls="home" aria-selected="true">
                            {% translate 'About' %}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-danger" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                           aria-controls="profile" aria-selected="false">{% translate 'Adresses' %}</a>
                    </li>
                </ul>
            </div>

            <div class="row d-flex justify-content-center pt-5">

                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2">
                                    <label class="text-success">{% translate 'first name : ' %}</label>
                                </div>
                                <div class="col-md-2">
                                    {% if user.first_name %}
                                        <p class="text-light">{{ user.first_name }} </p>
                                    {% else %}
                                        <p class="text-light">----------</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2">
                                    <label class="text-success">{% translate 'last name : ' %}</label>
                                </div>
                                <div class="col-md-2">
                                    {% if  user.last_name %}
                                        <p class="text-light"> {{ user.last_name }}</p>
                                    {% else %}
                                        <p class="text-light">----------</p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-2">
                                    <label class="text-success">{% translate 'Email : ' %}</label>
                                </div>
                                <div class="col-md-2">
                                    <p class="text-light">{{ user.email }}</p>
                                </div>
                            </div>
                            <div class="row">

                            </div>
                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

                            <table class="table table-bordered " style="text-align: center">
                                <thead class="bg-success text-white">
                                <tr>
                                    <th>#</th>
                                    <th>{% translate 'Address' %}</th>
                                    <th>{% translate 'Edit' %}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for address in customer.addresses.all %}
                                    <tr>
                                        <th class="bg-success text-white" scope="row">{{ forloop.counter }}</th>
                                        <td class="text-light">{{ address.exact_address }}</td>
                                        <td><a class="btn btn-outline-light"
                                               href="{% url 'customer:remove_address' address.id %}">{% translate 'Remove Address' %}</a>
                                        </td>

                                    </tr>
                                {% endfor %}


                                </tbody>
                            </table>
                            <div class="d-flex justify-content-center">
                                <a type="submit" href="" class="btn btn-outline-success" data-toggle="modal"
                                   data-target="#modal-add-address">{% translate 'Add Address' %}</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- large modal -->
        <div class="modal fade" id="modal-add-address" tabindex="-1" role="dialog" aria-labelledby="basicModal"
             aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content bg-dark">
                    <div class="modal-header">
                        <h4 class="modal-title text-warning" id="myModalLabel">{% translate 'Add Address' %}</h4>
                    </div>
                    <div class="modal-body p-1">
                        <div method="post" action="{% url 'customer:add_address' %}" class="mt-5">
                            {% csrf_token %}
                            <label for="persian_address">{% translate 'persian adress' %}</label>
                            <input type="text" class="form-control mt-2" id="persian_address" name="persian_address"
                                   placeholder="{% translate 'Enter exact address' %}">
                            <br>
                            <label for="english_address">{% translate 'english adress' %}</label>
                            <input type="text" class="form-control mt-2" id="english_address" name="english_address"
                                   placeholder="{% translate 'Enter exact address' %}">
                            <input type="hidden" id="customer_id" name="customer_id" value="{{ customer.id }}">
                            <div class="d-flex justify-content-center my-3">
                                <button type="submit"
                                        class="btn btn-outline-success">{% translate 'Add address' %}</button>
                            </div>
                            </form>

                        </div>
                        <div class="modal-footer d-flex justify-content-center">

                            <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>


{% endblock %}