{% extends 'base/base.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load humanize %}
{% load static %}
{% load base_tags %}
{% block style.css %}
    <link href="{% static 'orders/css/invoice.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-10 body-main bg-dark text-light mt-5" style="border-radius: 10px">
                    <div class="col-md-12 bg-dark">
                        <div class="row">
                            <div class="col-md-12 text-center text-light">
                                <h2 class="text-success">{% translate 'INVOICE' %}</h2>
                            </div>
                        </div>
                        <br/>
                        <div>
                            <table class="table text-light">
                                <thead style="font-size: large;">
                                <tr>
                                    <th>
                                        <p>{% translate 'Product' %}</p>
                                    </th>
                                    <th>
                                        <p>{% translate 'price' %}</p>
                                    </th>
                                    <th>
                                        <p>{% translate 'quantity' %}</p>
                                    </th>
                                    <th>
                                        <p>{% translate 'total price' %}</p>
                                    </th>
                                </tr>
                                </thead>
                                <tbody style="font-size: large">
                                {% for item in order.items.all %}
                                    <tr>
                                        <td class="col-md-4">{{ item.product.name }}</td>
                                        <td class="col-md-2"><i class="fas fa-rupee-sign"></i> {{ item.product.price }}
                                        </td>
                                        <td class="col-md-2"><i class="fas fa-rupee-sign"></i> {{ item.quantity }} </td>
                                        <td class="col-md-3"><i
                                                class="fas fa-rupee-sign"></i> {% widthratio item.product.price 1 item.quantity %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>

                                    <td class="colspan=">

                                        <h4 class="text-danger mt-1 "><strong>{% translate 'Discount' %}: </strong></h4>
                                    </td>
                                    <td>
                                        <h3 class="text-danger"><strong><i class="fas fa-rupee-sign"></i> {{ order.discount }}%</strong>
                                        </h3>
                                    </td>
                                    <td>
                                        <h3><strong><i class="fas fa-rupee-sign"></i> </strong>
                                        </h3>
                                    </td>
                                </tr>
                                <tr style="color: #F81D2D;" class="text-warning">
                                    <td class="text-right">
                                        <h4><strong>{% translate 'Payable Amount' %}:</strong></h4>
                                    </td>
                                    <td class="text-left">
                                        <h4><strong><i class="fas fa-rupee-sign"
                                                       area-hidden="true"></i> {{ order.final_price }}
                                        </strong></h4>
                                    </td>
                                    <td><h5 class="mt-1">{% translate 'Rial' %}</h5></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <a href="{% url 'orders:payment' order.id %}"
                                   class="btn btn-outline-success cart-btn-transform m-3 w-25"
                                   data-abc="true">{% translate 'Payment' %}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}