{% extends 'base/base.html' %}
{% load i18n %}
{% block content %}
    <div class="row d-flex justify-content-center w-100">
        <div class="col-md-9 bg-dark p-5 mt-5" style="border-radius: 10px">
            <table class="table table-bordered" style="text-align: center">
                <thead class="bg-success text-light">
                <tr>
                    <th>#</th>
                    <th>{% translate 'Start date' %}</th>
                    <th>{% translate 'Ordered date' %}</th>
                    <th>{% translate 'Discount' %}</th>
                    <th>{% translate 'Final price' %}</th>
                    <th>{% translate 'More details' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders_history %}
                    <tr>
                        <th class="bg-success text-light" scope="row">{{ forloop.counter }}</th>
                        <td class="bg-dark text-light">{{ order.start_date }}</td>
                        <td class="bg-dark text-light">{{ order.ordered_date }}</td>
                        <td class="bg-dark text-light">{{ order.discount }}%</td>
                        <td class="bg-dark text-light">{{ order.final_price }} {% translate 'Rial' %}</td>
                        <td class="bg-dark text-light"><a type="submit" href="" class="btn btn-outline-light w-75 ml-4 "
                                                          data-toggle="modal"
                                                          data-target="#modal-{{ order.id }}">{% translate 'order items' %}</a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

    </div>
    {% for order in orders_history %}
        <!-- large modal -->
        <div class="modal fade" id="modal-{{ order.id }}" tabindex="-1" role="dialog" aria-labelledby="basicModal"
             aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content bg-dark" style="border-radius: 10px;">
                    <div class="modal-header">
                        <h4 class="modal-title text-warning" id="myModalLabel">{% translate 'Order details' %}</h4>
                    </div>
                    <div class="modal-body">
                        <table class="table table-bordered " style="text-align: center">
                            <thead class="bg-success text-light">
                            <tr>
                                <th>#</th>
                                <th>{% translate 'Name product' %}</th>
                                <th>{% translate 'Price product' %}</th>
                                <th>{% translate 'Quantity' %}</th>
                                <th>{% translate 'Image' %}</th>
                                <th>{% translate 'More description' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for order_item in order.items.all %}
                                <tr>
                                    <th class="bg-success text-light" scope="row">{{ forloop.counter }}</th>
                                    <td class="text-light">{{ order_item.product.name }}</td>
                                    <td class="text-light">{{ order_item.product.price }} {% translate 'Rial' %}</td>
                                    <td class="text-light">{{ order_item.quantity }}</td>
                                    <td class="text-light"><img class="rounded" width="150" height="70"
                                             src="{{ order_item.product.images.first.image.url }}"></td>
                                    {% for attribute in order_item.product.attributes.all %}
                                        <td class="text-light">
                                            {{ attribute.name }}:{{ attribute.values }}<br>
                                        </td>
                                    {% endfor %}
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                        <p>
                            {% translate 'Address' %}: {{ order.address.exact_address }}
                        </p>

                    </div>
                    <div class="modal-footer justify-content-center">

                        <button type="button" class="btn btn-outline-danger " data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>


    {% endfor %}


{% endblock %}